@use "./colors.scss" as *;

.userInfo {
  box-shadow: 0 0 50px 50px $textInputColor;
  background-color: $textInputColor;
  > div {
    margin: 5px 5px;
    font-size: 20px;
    color: $formTextColor;
  }
  &::before {
    backdrop-filter: 30px;
    position: absolute;
  }
}
